* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.box {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');
  background-size: cover;
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
.header div {
  margin-top: 0.5rem;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  color: #33d9b2;
}
.content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}
.game {
  margin-left: 8rem;
  height: 15rem;
  width: 30rem;
  margin-top: 3rem;
  font-family: "Raleway", sans-serif;
}
.img {
  height: 80%;
  width: 100%;
}
.tag {
  object-fit: fill;
  height: 100%;
  border-radius: 12px;
  width: 100%;
}
.name {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}
a {
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hiLowContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to left, #b216f3, #c5523b, #d510cc);
}

.deck-img {
  height: 20rem;
  width: 15rem;
  border-radius: 8px;
}

.Cardcontainer {
  height: 25rem;
  width: 15rem;
}
.currCard {
  height: 20rem;
  width: 15rem;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
}
.HiLowbtn-container {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.suit,
.rev-suit {
  height: 4rem;
  width: 100%;
  font-size: 3rem;
}
.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-weight: bold;
  height: 12rem;
}
.rev-suit {
  transform: rotate(180deg);
}
.red {
  color: red;
}
.black {
  color: black;
}
.high span {
  font-size: 60px;
  color: #0984e3;
  transform: rotate(-90deg);
}
.low span {
  font-size: 60px;
  color: #0984e3;
  transform: rotate(90deg);
  margin-top: -10px;
}
.HiLowscore {
  font-size: 3rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 1rem;
  left: 43vw;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Sudokucontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
}

.gridContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clock {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock div {
  font-size: 2rem;
}

.Sudokubuttons {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Sudokubuttons div,
.Sudokubuttons button {
  text-align: center;
  margin-top: 1rem;
}
.Sudokubuttons div {
  font-size: 2rem;
}

.Sudokubuttons button {
  font-size: 1rem;
  color: black;
  width: 9rem;
}

.s-Grid {
  margin-top: 2rem;
  height: 25rem;
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.loading{
  margin-top: 2rem;
  height: 25rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-Block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  height: calc(25rem / 9);
  width: calc(25rem / 9);
}
.numBar {
  display: flex;
  height: 2rem;
  width: 25rem;
  margin-top: -1rem;
}
.Sudokunum {
  height: 100%;
  width: 11.11%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.clock {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.horizontal {
  display: flex;
  height: 20px;
  width: 25rem;
  margin-top: 1rem;
}
.horizontal div {
  height: 100%;
  width: calc(25rem / 9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 20px;
  margin-left: -2rem;
  position: absolute;
  left: 8.5rem;
  top: 135px;
}
.vertical div {
  width: 100%;
  height: calc(25rem / 9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.SudokuBody {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #31011f;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.TicTacToeBody {
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

.TicTacToecontainer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 20rem;
  width: 20rem;
}

.TicTacToeblock {
  color: white;
  height: 33.34%;
  width: 33.33%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}
.StatusBar {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: -20px;
}
.Reset {
  color: white;
  margin-top: 1rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Reset button {
  height: 3rem;
  color: black;
  width: 4rem;
  border-radius: 8px;
}
