* {
  box-sizing: border-box;
  color: white;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  background-color: #31011f;
}

.Sudokucontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.gridContainer {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clock {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock div {
  font-size: 2rem;
}

.Sudokubuttons {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Sudokubuttons div,
.Sudokubuttons button {
  text-align: center;
  margin-top: 1rem;
}
.Sudokubuttons div {
  font-size: 2rem;
}

.Sudokubuttons button {
  font-size: 1rem;
  color: black;
}

.s-Grid {
  margin-top: 2rem;
  height: 25rem;
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}
.s-Block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  height: calc(25rem / 9);
  width: calc(25rem / 9);
}
.numBar {
  display: flex;
  height: 2rem;
  width: 25rem;
  margin-top: -1rem;
}
.Sudokunum {
  height: 100%;
  width: 11.11%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.clock {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
.horizontal {
  display: flex;
  height: 20px;
  width: 25rem;
  margin-top: 1rem;
}
.horizontal div {
  height: 100%;
  width: calc(25rem / 9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical {
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 20px;
  margin-left: -2rem;
  position: absolute;
  left: 8.5rem;
  top: 135px;
}
.vertical div {
  width: 100%;
  height: calc(25rem / 9);
  display: flex;
  justify-content: center;
  align-items: center;
}
